<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Reseptiarkisto</title>
        <meta charset="ISO-8859-1" />
    </head>

    <body>
        <h1>Reseptiarkisto></h1>

        <nav class="menu">
            <p><a href="/reseptit">Selaa reseptejä tai lisää uusi resepti</a></p>
            <p><a href="/ainekset">Selaa aineksia tai lisää uusi aines</a></p>
        </nav>
    </body>
</html>
