<!-- Look of this document is driven by a CSS referenced by an href attribute. See http://www.w3.org/TR/xml-stylesheet/ -->
<link rel="StyleSheet" type="text/css" href="http://JKDESK:8082/resource/file%3A/D%3A/Files/Dropbox/Git/src/main/resources/templates/global.css" media="screen" >
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${resepti.nimi}">Reseptin nimi</title>
        <meta charset="utf-8" />
        <!-- include css -->
        <link rel="stylesheet" type="text/css" href="@{/css/global.css}"/>
    </head>

    <body>
        <h1 th:text="${resepti.nimi}">Reseptin nimi</h1>
        <span th:text="${resepti.annoksia}"> kpl</span> annosta
        <br />
        <span th:text="${resepti.vegaaninenString}">onko vegaaninen</span>
        <br />
        <span th:text="${resepti.ohje}">reseptin ohje</span>
        <ul>
            <li th:each="ainesosa: ${ainesosat}">
                <span th:text="${ainesosa}">ainesosatieto</span>
            </li>
        </ul>
    </body>
</html>