<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${resepti.nimi}">Reseptin nimi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 th:text="${resepti.nimi}">Reseptin nimi</h1>
        <span th:text="${resepti.annoksia}"> kpl</span> annosta
        <br />
        <span th:text="${resepti.vegaaninenString}">onko vegaaninen</span>
        <br />
        <span th:text="${resepti.ohje}">reseptin ohje</span>
        <ul>
            <li th:each="ainesosa: ${ainesosat}">
                <span th:text="${ainesosa}">ainesosatieto</span>
            </li>
        </ul>
    </body>
</html>